#form-container {
    width: 100vw;
    height: 100vh;
    background-color: #6d6d6d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#form-box {
    width: 360px;
    padding: 29px;
    box-sizing: border-box;
}

#form-box input {
    font-size: large;
}

body {
    background: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0
}

.btn-success {
    color: #fff;
    background-color: #6666ce;
    border-color: #040404;
}

.btn-success.active {
color: #fff;
background-color: #6666ce;
border-color: #000000;
}

success:focus {
    color: #fff;
    background-color: #6666ce;
    border-color: #6666ce;
}

.btn-success:hover {
    color: #fff;
    background-color: #6666ce;
    border-color: #6666ce;
}

.userCadastrado {
    color: red;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}